.form-container {
    color: #424242;
    width: 400px;
    padding: 10px;
    background: #fff;
    border-radius: 15px

}

.form-group > * {
    display: block;
}

.form-group >input, .form-group select {

    background: #3d3d56;
    padding: 10px 20px;
    width: 100%;
    color: #fff;
    outline: none;
    border: none;
}

.period-group-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



